.profile-userpic {
    margin: 24px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    -webkit-border-radius: 80% !important;
    -moz-border-radius: 80% !important;
    border-radius: 50% !important;
}