<div class="layout-px-spacing">

    <div class="row layout-top-spacing layout-spacing">
        <div class="col-lg-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                            <div class="profile-userpic">
                                <img src="https://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=80&amp;d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7 col-sm-7 col-7">
                            <div>
                                <div class="card" style="width: 100%;margin: 24px;">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <td>{{apiService.currentUserProfile.username}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Age</th>
                                                            <td>{{apiService.currentUserProfile.age}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Gender</th>
                                                            <td>{{apiService.currentUserProfile.gender}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Email</th>
                                                            <td>{{apiService.currentUserProfile.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Mobile No.</th>
                                                            <td>{{apiService.currentUserProfile.mobile}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Designation</th>
                                                            <td>{{apiService.currentUserProfile.designation}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>