<div>
    <div class="row">
        <div class="col-md-12">
            <a class="header-button" routerLink="/pages/products" routerLinkActive="active">
        Back
      </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]='productForm' novalidate class="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" required formControlName="name">
                            <div *ngIf="formService.validate(productForm,'name')" class="invalid-feed">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Type</label>
                            <input type="text" class="form-control" required formControlName="type">
                            <div *ngIf="formService.validate(productForm,'type')" class="invalid-feed">
                                Type is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Color</label>
                            <input type="text" class="form-control" required formControlName="color">
                            <div *ngIf="formService.validate(productForm,'name')" class="invalid-feed">
                                Color is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Stock Unit</label>
                            <input type="text" class="form-control" required formControlName="stock_unit">
                            <div *ngIf="formService.validate(productForm,'stock_unit')" class="invalid-feed">
                                stock_unit is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">SKU</label>
                            <input type="text" class="form-control" required formControlName="sku">
                            <div *ngIf="formService.validate(productForm,'sku')" class="invalid-feed">
                                Sku is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Addon</label>
                            <input type="text" class="form-control" required formControlName="addon">
                            <div *ngIf="formService.validate(productForm,'addon')" class="invalid-feed">
                                Addon is required
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" *ngIf="!isEditMode" (click)="createProduct()">Submit</button>
                <button class="btn btn-primary" type="button" *ngIf="isEditMode" (click)="updateProduct()">Update</button>
            </form>
        </div>
    </div>
</div>